ul.projects {
  .project {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    & > img.projectImage {
      width: 12rem;
      height: auto;
    }
    & > .projectImages {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 0.5rem;
      img {
        width: 12rem;
        height: auto;
        display: block;
      }
      @media print {
        &.single img {
          width: 24rem;
        }
      }
    }
    & > .description {
      h4 {
        font-size: 1.1em;
      }
      p {
        font-size: 12pt;
        margin: 0.25rem 0rem !important;
      }
      .links {
        list-style-type: none;
        display: block;
        padding: 0px;
        margin: 0px 0px 0.8rem 0px;
        font-size: 0.7em;
        .icon * {
          height: 1em;
        }
        li {
          display: inline-block;
          a {
            text-decoration: none;
            color: #383838;
            &:hover {
              color: black;
            }
          }
          & + li {
            margin-left: 0.25rem;
          }
          & > del {
            text-decoration: none;
            &,
            & * {
              color: #c7c7c7;
            }
            a {
              text-decoration: line-through;
            }
          }
        }
      }
    }

    @media screen and (max-width: 1000px) {
      flex-wrap: wrap;
      & > .projectImages {
        flex-direction: row;
        flex-wrap: wrap;
        @media screen and (max-width: 640px) {
          .project-img {
            width: 7rem;
          }
        }
      }
    }

    @media print {
      flex-direction: column;
      & > .projectImages {
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }
  }
}
