.hero.is-fullheight {
    /* Mobile Chrome fix */
    /* min-height: -webkit-fill-available */
}
html {
    scroll-snap-type: y proximity;
}
body > * {
    scroll-snap-align: start;
}
.introduction {
    padding-top: 1rem;
}

.name-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('./fox.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.scroll-text {
    padding-bottom: 1em;
    font-size: 1.2em;
}
h3 {
    text-decoration: underline;
}
.contact-link:not(:last-of-type)::after {
    content: " | ";
}