@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 16pt;
}
@page {
  html {
    margin: 20mm 0mm 0mm 0mm;
  }
}
html .print-only {
  display: none;
}
@media print {
  html .print-only {
    display: inherit;
  }
  html .page-break {
    break-before: page;
  }
  html .page-break + section > h2 {
    padding-top: 10mm;
  }
  html .toggle-minor {
    display: none;
  }
}
html.minor-projects-hidden .projects .minor {
  display: none;
}
html * {
  orphans: 1;
}
html body {
  font-family: "SUIT-Regular", sans-serif;
  padding: 2.5rem 3.5rem;
}
@media screen and (max-width: 1000px) {
  html body {
    padding: 2.5rem 1.5rem;
  }
}
@media screen and (min-width: 1001px) {
  html body {
    width: 900px;
    margin: 0 auto;
  }
}
html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 {
  padding: 0px;
  margin: 0px;
}
html body header {
  border-left: 0.2rem solid black;
  padding: 0.5rem 0em 0.75rem 1.5rem;
  margin-bottom: 2rem;
  background-color: #eeeeee;
}
html body header h1 {
  font-size: 2rem;
}
html body header h2 {
  font-size: 1.125rem;
  font-weight: 500;
  color: #383838;
}
html body header .links {
  list-style-type: none;
  display: block;
  font-size: 0.6rem;
  padding: 0px;
  margin: 0.25rem 0px 0px 0px;
}
html body header .links li {
  display: inline-block;
}
html body header .links li a {
  text-decoration: none;
  color: #383838;
}
html body header .links li a:hover {
  color: black;
}
html body header .links li + li {
  margin-left: 0.25rem;
}
html body article {
  font-size: 12pt;
  margin-top: 1rem;
}
html body article ul.timeline {
  --timeline-circle-size: 15px;
  --timeline-border-width: 3px;
  list-style: none;
  margin: 1rem;
  padding: 0px 0px 1.5rem 0px;
}
html body article ul.timeline > li {
  display: flex;
  flex-direction: row;
}
html body article ul.timeline > li > .date {
  font-size: 0.8em;
  color: #383838;
  text-align: right;
  position: relative;
  top: -2px;
  display: inline-block;
  font-size: 0.8em;
  padding-right: 0.75rem;
  text-align: right;
  width: 6em;
  min-width: 6em;
}
@media screen and (max-width: 576px) {
  html body article ul.timeline > li > .date {
    display: none;
  }
}
html body article ul.timeline > li .content {
  position: relative;
  display: inline-block;
  border-left: var(--timeline-border-width) solid #b9b9b9;
}
html body article ul.timeline > li .content .date {
  font-size: 0.8em;
  color: #383838;
  display: none;
  margin-top: 0.175rem;
  margin-bottom: 0.25rem;
}
@media screen and (max-width: 576px) {
  html body article ul.timeline > li .content .date {
    display: block;
  }
}
html body article ul.timeline > li .content::before {
  content: " ";
  position: absolute;
  left: -9px;
  display: inline-block;
  background-color: white;
  width: var(--timeline-circle-size);
  height: var(--timeline-circle-size);
  border-radius: calc(var(--timeline-circle-size) / 2);
  border: 3px solid #4e88df;
  margin-right: 0.5rem;
  box-sizing: border-box;
}
html body article ul.timeline > li .content .inner {
  position: relative;
  left: 30px;
  top: -5px;
  display: inline-block;
}
html body article ul.timeline > li .content .inner p {
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
}
html body article ul.timeline > li + li .content, html body article ul.timeline > li + li > .date {
  padding-top: 1rem;
}
html body article p.school-and-military-entry strong {
  font-size: 14pt;
}
html body article > h3 {
  font-size: 1.1rem;
}
html body article section + section {
  margin-top: 2rem;
}
html body article section.page-break {
  padding-top: 2rem;
}
html body article .footnote {
  vertical-align: super;
  font-size: 0.75em;
}
html body article ul.projects {
  /* @media print { */
  /* Not a good way... */
  /*    li:nth-child(1) .project {
          padding-bottom: 20mm;
      }
      li:nth-child(3) .project {
          padding-bottom: 100mm;
      }
  } */
}
html body article ul.projects .project {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
html body article ul.projects .project > img.project-img {
  width: 12rem;
  height: auto;
}
html body article ul.projects .project > .project-imgs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
}
html body article ul.projects .project > .project-imgs img {
  width: 12rem;
  height: auto;
  display: block;
}
@media print {
  html body article ul.projects .project > .project-imgs.single img {
    width: 24rem;
  }
}
html body article ul.projects .project > .project-description h4 {
  font-size: 1.1em;
}
html body article ul.projects .project > .project-description p {
  font-size: 12pt;
  margin: 0.25rem 0rem !important;
}
html body article ul.projects .project > .project-description .project-links {
  list-style-type: none;
  display: block;
  padding: 0px;
  margin: 0px 0px 0.8rem 0px;
  font-size: 0.7em;
}
html body article ul.projects .project > .project-description .project-links li {
  display: inline-block;
}
html body article ul.projects .project > .project-description .project-links li a {
  text-decoration: none;
  color: #383838;
}
html body article ul.projects .project > .project-description .project-links li a:hover {
  color: black;
}
html body article ul.projects .project > .project-description .project-links li + li {
  margin-left: 0.25rem;
}
html body article ul.projects .project > .project-description .project-links li > del {
  text-decoration: none;
}
html body article ul.projects .project > .project-description .project-links li > del, html body article ul.projects .project > .project-description .project-links li > del * {
  color: #c7c7c7;
}
html body article ul.projects .project > .project-description .project-links li > del a {
  text-decoration: line-through;
}
@media screen and (max-width: 1000px) {
  html body article ul.projects .project {
    flex-wrap: wrap;
  }
  html body article ul.projects .project > .project-imgs {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1000px) and (max-width: 640px) {
  html body article ul.projects .project > .project-imgs .project-img {
    width: 7rem;
  }
}
@media print {
  html body article ul.projects .project {
    flex-direction: column;
  }
  html body article ul.projects .project > .project-imgs {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
html body footer {
  margin-top: 2rem;
  padding: 1rem 0rem;
  border-top: 0.2em solid #9e9e9e;
  font-size: 12pt;
}
html body footer .footnotes ol {
  list-style: none;
  margin: 0em 0em 1em 0em;
  padding: 0em;
}
