.printOnly {
    display: none;
}
@media print {
    .printHidden {
        display: none;
    }
    .printOnly {
        display: inherit;
    }
    .pageBreak {
        padding-top: 2rem;
        break-before: page;
        & + section > h2 {
            padding-top: 10mm;
        }
    }
}