@tailwind base;
@tailwind components;
@tailwind utilities;

svg.icon {
    display: inline;
    height: 1em !important;
    width: auto !important;
}

#card-title {
    background-attachment: fixed;
    background-position-y: 95%;
}

.h-dynamic-screen {
    height: 100vh; /* fallback */
    height: 100dvh;
}

.w-dynamic-screen {
    width: 100vw; /* fallback */
    width: 100dvw;
}